/* !IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* !RESET/BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --body-font-family: 'Poppins', sans-serif;
    --body-font-color: #676767;
    --light-color: #fff;
    --dark-color: #2E2E2E;
    --dark-color-lighter: #4D4D4D;
    --accent-color: #F55556;
    --section-background-color: #FEF5F5;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: var(--body-font-family);
    font-weight: 400;
    color: var(--body-font-color);
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.header{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.container{
    margin: 0 auto;
    padding: 0 1.2rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: .8rem;
    /* border: 1px solid green; */
}
.logo{
  margin-right: 10rem;
}
.logo-image{
    min-width: 15.5rem;
    /* border: solid black 2px; */
}
 .menu-toggler{
    width: 5.6 rem;
    height: 4 rem;
    border: 16px solid rgba(175, 175, 175, 0.1);
   
    line-height: 1;
    position: relative;
}
.toggle-icon{
    font-size:2.6rem ;
    color: var(--body-font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    transition: opacity .25s;
}
.close-icon{
    opacity: 0;
}
.open-icon{
    transition-delay: .25s;
}
.show-menu .close-icon{
    opacity: 1;
    transition-delay: .25s;
}
.show-menu .open-icon{
    opacity: 0;
    transition-delay: none;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s;
}
.list{
    display: flex;
    flex-direction: column;
}
.menu .list-item{
    text-align: center;
    margin: 1.2rem 1.6rem;
}
.l-link{
    display:inline-block;
    font-weight: 500;
    line-height: 1.6rem;
    padding: .8rem 0;
    color: var(--dark-color-lighter);
    transition: color .25s;
}
.l-link:hover,
.l-link:focus{
    color: var(--accent-color);
}
.first-link{
    color: var(--accent-color);
}
.search-box{
    margin-top: .8rem;
}
.search-form{
    position: relative;
}
.form-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}
.search-icon{
    left: 2rem;
}
.search-input{
    width: 28.8rem;
    height: 4.8rem;
    padding: 1.2rem 6rem 1.2rem 4.4rem;
    background-color: var(--light-color);
    box-shadow: 0 2rem 5rem rgba(0, 0,0,.04);
    border-radius: .8rem;
}
.search-input::placeholder{
    font-weight: 500;
    line-height: 1.4;
    color: var(--dark-color);
    transition: all .2s ease-in-out;
}
.search-input:focus::placeholder{
    opacity: 0;
}
.cart-icon{
    right: 2rem;
}
.cart-icon .path{
    transition: all .25s;
}
.account-icon .path{
  transition: all .25s;
}
.cart-icon:hover .path,
.cart-icon:focus .path{
    fill: var(--accent-color);
}
.account-icon:hover .path,
.account-icon:focus .path{
    fill: var(--accent-color);
}
.d-grid{
  display: grid;
}
  .home{
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
     background:url(../images/home-bg-2.jpg) no-repeat; 
    background-size: cover;
    background-color:rgba(0, 0, 0, .8);
    background-position: center;
  }
  
  .home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  .home .image img{
    width:100%;
    padding:1rem;
    animation:zoom 3s linear infinite;
  }
  
  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }
  
  .home .content h3{
    font-size: 5rem;
    color:var(--light-color);
    padding-left: 2rem;

  }
  
  .home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:1rem 2rem;

  }
  .loader-container{
    position: fixed;
    top:0; left:0;
    z-index: 10000;
    background:#fcc6bc;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
  }
  .loader-container.fade-out{
    top:-120%;
  }

  /* SECOND PAGE CSS */

  .second-page{
    padding:5rem 0;
    background-color: var(--section-background-color);
  }
  .section-metadata{
    text-align: center;
  }
  .section-tagline{
    display: inline-block;
    font-weight: 500;
    color: var(--accent-color);
    line-height: 2.4rem;
    margin-bottom: .8rem ;
  }
  .section-title{
    font-size: 2.4rem;
    line-height: 4.4rem;
    margin-bottom: 2.2rem;
  }
  .card-group{
    margin: 7rem 0 2rem;
    gap: 2rem;
  }
  .card{
    padding: 3rem 2.2rem;
    background-color: var(--light-color);
    border-radius: 1.2rem;
  }
  .card-header{
    display: flex;
  }
  .card-header img{
    height: 6rem;
    margin: 0 auto;
  }
  .card-body{
    text-align: center;
    margin: 6rem 0 2rem;
  }
  .card-title{
    font-size: 1.8rem;
    line-height: 3.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .card-body p{
    line-height: 2.5rem;
  }
  .third-page{
    padding: 5rem 0;
  }
  section:not(.hero) .text-content-group{
    margin: 8rem 0 2rem;
  }

  .third-page .section-tagline{
    color: #03a66b;
  }
  

  /* BUTTONS CSS */
  
  .button-group{
    margin: 0em 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.4rem;
  }
  .button{
    display: inline-block;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 1.4rem;
    border: 1px solid transparent;
    border-radius: .8rem;
    transition: background-color .25s;
  }
  
  .home .button{
    font-size: 1.2rem;
  }
  .home .button-transparent{
    padding: 0;
  }
  .button:not(.button-transparent):hover,
  .button:not(.button-transparent):focus{
   background-color: var(--light-color);
   color: var(--accent-color);
   border-color: var(--accent-color);
  }
  .button-transparent{
    display: flex;
    background-color: transparent;
    align-items: center;
    color: var(--light-color);
  }
  .download-button{
    color: var(--dark-color);
  }
  .play-icon{
    width: 5rem;
    border-radius: 50%;
    margin-right:1.2rem ;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .8);
  }
  .button-transparent img{
    transition: transform .25s ease-in-out;
  }
  .button-transparent:hover,
  .button-transparent:focus{
   transform: scale(1.1);
  }
  section:not(.hero) .button{
    margin: 5rem 0;
  }


  .text-content-group{
    align-items: center;
    text-align: center;
  }
  .title{
    color: var(--dark-color);
    font-weight: 700;
  }
  .fourth-page{
    padding: 0 0 10rem;
  }
  .fourth-page .section-tagline{
    color: #f9ba45;
  }
.download{
  padding: 5rem 0;
  background-color: var(--section-background-color);
}
.download-container .image-content-group img{
  margin: 0 auto;
}
.download .button-group{
  margin: 0;
}
.download .button{
  display: flex;
  align-items: center;
  column-gap:1rem;
  padding-block: 1rem;
  border: 1px solid rgba(0, 0, 0,.1);
}
  #footer{
  text-align: center;
  padding: 5rem 0 3rem;
} 
.company-data{
  margin-block: 2rem;
}
#footer .logo{
  display: inline-block;
  margin: 0 auto;
}

.company-description{
  margin: 1.3rem 0 1rem;
  line-height: 3rem;
}
.footer-group{
  margin: 3rem 0 1rem;
}
.footer-title{
font-size: 1.8rem;
font-weight: 600;
line-height: 2rem;
}
.footer-group .list{
  margin: inherit;
}
.footer-group .link{
  line-height: 4rem;
}
.horizontal-line{
  margin-block: 3rem;
  border: none;
  border-top: 1px solid rgba(0, 0, 0,.05);
}
.copyright-information{
  line-height: 2.4rem;
}
.legal-information a{
  font-weight: 500;
  margin: 0 1.2rem;
  transition: color .5s;
}
.legal-information a:hover,
.legal-information a:focus{
  color: var(--accent-color);
} 
/* MediaQueries */
@media screen and (min-width:768px) {
  .body{
    font-size: 1.6rem;
  }
  .hero{
    padding: 8rem 0 12rem;
  }
  .container{
    max-width: 72rem;
  }
  .button-group{
    justify-content: flex-start;
  }
  .button{
    width: 18rem;
    padding: 1.8rem 2rem;
  }
  .home .button{
    font-size: inherit;
  }
  .home .button-transparent{
    width: 100%;
  }
  .play-icon{
    width: 7rem;
  }
  .text-content-group,
  .section-metadata{
    text-align: left;
  }
  .second-page .section-metadata{
    text-align: center;
  }
  .section-title{
    font-size: 3.2rem;
  }
  .card-group{
    grid-template-columns: repeat(3,1fr);
    column-gap:2.4rem ;
  }
  section:not(.home) .text-content-group{
    margin: 10rem 0 2rem;
  }
  .fourth-page .text-content-group{
    margin:8rem !important;
  }
  .footer-bottom-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  
  .home .content h3{
    font-size: 5rem;
  }
  .home .content p{
    font-size: 2.5rem;
  }
}
@media screen and (min-width:992px) {
  .container{
    max-width: 96rem;
  }
  .home .content h3{
    font-size: 6.2rem;
  }
  .navbar{
    flex-wrap: nowrap;
  }
  .menu-toggler{
    display: none;
  }
  .menu{
    flex-direction: row;
    max-height: intital !important;
    overflow:visible !important;
    transition: none;
  }
  .menu > .list{
    flex-direction: row;
    margin: 0 auto;
  }
  .menu .list-item{
    margin: 0 1.6rem;
  }
  .search-box{
    margin-top: 0;
  }
  .download-container,
  .third-page-container,
  .fourth-page-container,
  .container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.4rem;
  }
  .card{
    padding: 4rem 2.6rem;
    margin: 1rem;
  }
   .third-page-container{
    grid-template-columns: repeat(12,1fr);
    column-gap: 2.4rem;
  }
  .third-page .image-content-group{
    grid-column: span 7;
  }
  .third-page .text-content-group{
    grid-column: span 4;
  } 
  .third-page .text-content-group .section-metadata .p{
    margin-right: 8rem;
  }
.fourth-page .image-content-group{
  order: 1;
}
.download{
  padding: 10rem 0;
}
.button-group{
  margin-left:12rem ;
}
#footer{
  text-align: left;
  font-size: 1.4rem;
}
.footer-top-data{
  grid-template-columns: repeat(5,1fr);
  column-gap: 2.4rem;
}
.company-data{
  grid-column: span 2;
}
.legal-information{
  margin-left: auto;
}
.home .content p{
  font-size: 2.8rem;
}
}
@media screen and (min-width:1200px) {
  .container{
    max-width: 114rem;
  }
  .home .content h3{
    font-size: 7rem;
  }
  .home .content p{
    font-size: 2.8rem;
  }
  .button-group{
    margin-left: 18rem;
  }
  .section:not(.second-page) .section-title{
    max-width: 90%;
  }
  .card-group{
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
  }
 
  .company-data{
    max-width: 75%;
  }
}
@media screen and (min-width:1400px) {
.container{
  max-width: 132rem;
}
.home .content h3{
  font-size: 9rem;
}
.home .content p{
  font-size: 3rem;
}
section:not(.hero) .text-content-group{
  margin: 20rem 0 2rem;
}
.section-tagline{
  font-size: 2.5rem;
}
.section-title{
  font-size: 4rem;
}
.second-page .section-title{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.card-group{
  max-width: 110rem;
}
.card{
  padding: 5rem 2.8rem;
  margin: 2rem;
}
.download .button{
  padding-block: 1.8rem;
  margin-right: 1.4rem;
  font-weight: 600;
}

}
